<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color: teal;">
      <img src="https://raw.githubusercontent.com/trustwallet/assets/master/blockchains/ethereum/assets/0xe3818504c1B32bF1557b16C238B2E01Fd3149C17/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Project Limb Rescue
    </a>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="color: teal;">About Project Limb Rescue</h1>
      <p class="lead">Cancer patients are at risk of lymphedema, a devastating chronic complication. Our overall aim is to develop a product helping patients to monitor the risk of lymphedema. The product marries wearable devices equipped with photoplethysmography (PPG) sensors and our custom software to detect changes in limb characteristics that are concerning for new-onset, or worsening lymphedema. 
        Based on the achievements of previous work, we have three specific goals.<br></br> Firstly, we will build a web tool that allows users to upload raw data and show a wave figure. The second and core goal is to build the prediction model leveraging the machine learning technology to help with identifying waveform changes over longitudinal data collection points. Then we plan to implement the cloud-based solution to facilitate storage of longitudinal data collection and implementation of the above machine learning features. We expect that based on this home-based monitoring product, the risk of lymphedema in cancer patients will be reduced.
        </p>
    </div>
  </div>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" style="padding-left: 320px;">
    <div class="column">
      <div class="card">
        <img src="https://healthsystem.osumc.edu/digitalservices/api/v1/ProviderPicture/7068" style="height: 450px; width: 450px;" alt="Carlo">
        <div class="container">
          <h2>Carlo Contreras</h2>
          <p class="title">Founder</p>
          <p>carlo.contreras@osumc.edu</p>
          <p><button class="btn btn-light">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGH3SoLI_PmUQ/profile-displayphoto-shrink_200_200/0/1517451154890?e=1623888000&v=beta&t=theHmc4aj3S3ffdqqa5t8c0W-h1jHYIbdCKpTI794uE" style="height: 450px; width: 450px;" alt="Lynne">
          <div class="container">
            <h2>Lynne Brophy</h2>
            <p class="title">Co-Founder</p>
            <p>lynne.brophy@osumc.edu</p>
            <p><button class="btn btn-light">Contact</button></p>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHCLdLMv_tUEg/profile-displayphoto-shrink_200_200/0/1538269574856?e=1628121600&v=beta&t=7Y-242j2-BzoEW9wpI7GlE8Z84mvHUf7iv6ZqiLCbpA" style="height: 450px; width: 450px;" alt="Rith">
          <div class="container">
            <h2>Rithvich Ramesh</h2>
            <p class="title">Developer/Requirements SME Liaison</p>
            <p>ramesh.88@osu.edu</p>
            <p><button class="btn btn-light">Contact</button></p>
          </div>
        </div>
      </div>
  </div>
  <div class="row" style="padding-left: 320px;">
    <div class="column">
      <div class="card">
        <img src="https://uppermustangtreks.com/site/images/team/111e671f8f6266a80b63b0eb4759bc00c463fe8a.jpg" style="height: 450px; width: 450px;" alt="Daniel">
        <div class="container">
          <h2>Daniel Pan</h2>
          <p class="title">APM & Technical Lead</p>
          <p>pan.667@osu.edu</p>
          <p><button class="btn btn-light">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img src="https://images.squarespace-cdn.com/content/v1/5bce1ed034c4e2d741fe15fc/1542058813138-D0CYK18TQXAAOBAJ1JVG/ke17ZwdGBToddI8pDm48kP06O0_IHyRXSOOiqwgWaApZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEHLRkg2cosQUGLeQ33UzXdgIxPDaVwE3LlEpL74qP4JVW4jCyXLPvvdR287iymYt8/Female_Blank_Avatar.jpg" style="height: 450px; width: 450px;" alt="Mandy">
          <div class="container">
            <h2>Mandy Fan</h2>
            <p class="title">Developer/Tester</p>
            <p>fan.825@osu.edu</p>
            <p><button class="btn btn-light">Contact</button></p>
          </div>
        </div>
      </div>
  
      <div class="column">
        <div class="card">
          <img src="https://uppermustangtreks.com/site/images/team/111e671f8f6266a80b63b0eb4759bc00c463fe8a.jpg" style="height: 450px; width: 450px;" alt="Browy">
          <div class="container">
            <h2>Browy Li</h2>
            <p class="title">Developer/Tester</p>
            <p>li.9096@osu.edu</p>
            <p><button class="btn btn-light">Contact</button></p>
          </div>
        </div>
      </div>
  </div>
  
  <a style="color: slategrey;" class="btn btn-light" href="{% url 'index' %}" target="_blank" role="button">Back to Homepage</a>
</body>
</html>